.loadImg {
    width: 40vh;
    height: 40vh;
}

@media (max-width: 600px) {
    .loadImg {
        width: 85vw;
        height: 85vw;
    }
}

fixed-top {
    top: 0;
}
fixed-bottom {
    bottom: 0;
}

/* width */
::-webkit-scrollbar {
    width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #fff;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #fff;
    }